<?xml version="1.0" encoding="utf-8"?>
<service>
  <short>{{ item.name }}</short>
  <description>{{ item.description }}</description>
  <port protocol="{{ item.proto }}" port="{{ item.port }}"/>
</service>